/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.DS_Store
/test-data
config.json
/.cpcache
/.lsp/sqlite.db
/.lsp/.cache
/.clj-kondo/.cache
/.mise.toml
